{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "verifyConditionsCmd": "npm run build",
        "prepareCmd": "npm run build"
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
